.form-input {
  padding: 0 24px;
  height: 50px;
  width: 100%;
  border-radius: 100px;
  border: solid 2px #efefef;
  font-size: 15px;
  outline: 0;
  transition: .3s all ease;
  color: #404040;
  margin-bottom: 10px;
}
.form-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-input::-webkit-input-placeholder {opacity: .7;}
.form-input::-moz-placeholder {opacity: .7;}
.form-input:-moz-placeholder {opacity: .7;}
.form-input:-ms-input-placeholder {opacity: .7;}